.picture {
    max-width: 200px;
    border-radius: 1rem;
}

.description {
    margin: 5rem 0 10rem 0;
}

    .description h1 {
        margin-bottom: 2rem;
        color: white;
    }

    .description p {
        color: white;
        line-height: 1.5;
        font-size: 1.25rem;
    }

.skills i {
    color: cornflowerblue;
    font-size: 3rem;
}

.skills ul {
    padding: 0;
    list-style: none;
}
