@model IEnumerable<ProjectViewModel>

<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			@foreach (var project in Model)
			{
				<div class="col">
					<div class="card h-100">
						<img src="@project.ImageURL" alt="Project" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">@project.Title</h5>
							<p class="card-text">@project.Description</p>
						</div>
						<div class="card-footer">
							<a href="@project.Link" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Visit</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
