@model IEnumerable<ProjectViewModel>

@if (Model is not null)
{
	<div class="text-center" style="padding-top: 5rem">
		<h1>Projects</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>

	<partial name="_ProjectsList" model=Model />
}