<div style="margin-top: -110px">
	<div class="row justify-content-md-center align-content-center text-center">
		<div class="col col-3 bg-white skills" style="border-radius: 0.5rem 0 0 0.5rem; box-shadow: 0 3px 3px 0 grey">
			<i class="bi-hdd-fill""></i>
			<h3>Backend</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			<p class="text-primary">
				Stack:
			</p>
			<p>
				.NET NodeJS Python
			</p>
			<p class="text-primary">
				Experience:
			</p>
			<ul>
				<li>Lorem Ipsum</li>
				<li>Lorem Ipsum</li>
				<li>Lorem Ipsum</li>
				<li>Lorem Ipsum</li>
			</ul>
		</div>
		<div class="col col-3 bg-white skills" style="border-radius: 0 0.5rem 0.5rem 0; box-shadow: 0 3px 3px 0 grey">
			<i class="bi-code-slash"></i>
			<h3>Frontend</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			<p class="text-primary">
				Stack:
			</p>
			<p>
				JavaScript React
			</p>
			<p class="text-primary">
				Experience:
			</p>
			<ul>
				<li>Lorem Ipsum</li>
				<li>Lorem Ipsum</li>
				<li>Lorem Ipsum</li>
				<li>Lorem Ipsum</li>
			</ul>
		</div>
	</div>
</div>