@model IEnumerable<ProjectViewModel>

@{
	ViewData["Title"] = "Projects";
}

<div class="container text-center">
	<h1>Projects</h1>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
</div>

<partial name="_ProjectsList" model=Model />